<div class="text-center">
  <%= flash[:notice] %>
</div>
<div class= "conrainer-md">
  <div class="row justify-content-center pt-4">
    <h2 class="text-center m-5 p-5 display-4 font-weight-bolder">投稿編集</h2>
  </div>
  <div class="row justify-content-center pt-4 text-danger">
      <% if @trip_article.errors.any? %>
        <%= @trip_article.errors.count %>件のエラーが発生しました
  </div>
  <div class="text-center pt-4 text-danger">
        <ul>
        <% @trip_article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
        </ul>
        <% end %>
  </div>
    <%= form_with model: @trip_article, url: trip_article_path(@trip_article.id), method: :patch do |f| %>
          <div class="row justify-content-center pt-4">
              <div class= "field">
                <%= f.label :image, "画像" %>
                <%= f.file_field :image, accept: "image/*", value: @trip_article.image %>
              </div>
          </div>
          <div class="row justify-content-center pt-4">
              <div class= "field mr-5">
                <dl class= "row">
                 <dt class= "col-4">
                  <%= f.label :title, "タイトル" %>
                  </dt>
                  <dd class="col-4">
                     <%= f.text_field :title, placeholder: "タイトル" %>
                  </dd>
                </dl>
              </div>
          </div>
          <div class="row justify-content-center pt-4">
            <div class= "field mr-5">
              <dl class= "row">
                <dt class= "col-4">
                  <%= f.label :text, "本文" %>
                </dt>
                <dd class="col-4">
                  <%= f.text_area :text, placeholder: "本文" %>
                </dd>
              </dl>
            </div>
          </div>
        <div class="row justify-content-center pt-4">
            <div class= "field mr-4">
              <%= f.label :prefecture_id, "都道府県" %>
              <%= f.select :prefecture_id, Prefecture.pluck(:name,:id), { include_blank: true, selected: (@trip_article.prefecture_id || 1) }, { id: "prefecture_id", class: "prefecture_class" } %>
            </div>
          <div class= "field pr-3">
            <%= f.label :season_id, "季節" %>
            <%= f.select :season_id, Season.pluck(:name, :id), { include_blank: true, selected: (@trip_article.season_id) }, { id: "season_id", class: "season_class" } %>
          </div>
        </div>
        <div class="actions text-center p-3">
            <%= f.submit '更新', class: "btn btn-outline-secondary"  %>
        </div>
        <% end %>

  </div>

