<div>
  <%= flash[:notice] %>
</div>

 <%= render "public/searches/searches" %>

<h2>あなたの素敵な旅の思い出を共有しましょう</h2>
<%= link_to '新規投稿', new_trip_article_path %>

<% @trip_articles.each do |trip_article| %>
  <p><%= image_tag trip_article.user.get_image(50,50) %>
  <%= trip_article.user.nickname %></p>
  <p><%= image_tag trip_article.get_image(400,500) %></p>
  <p>コメント<%= link_to trip_article.comments.count, trip_article_path(trip_article) %>件</p>
  <p><%= link_to 'show', trip_article_path(trip_article) %></p>
  <p><%= trip_article.title %></p>
  <p><%= trip_article.text %></p>
  <p><%= trip_article.prefecture.name %></p>
  <p><%= trip_article.season.name %></p>
  <p><%= trip_article.created_at.strftime('%Y/%m/%d') %></p>
  <% if current_user != trip_article.user %>
    <div id="like_buttons_<%= trip_article.id %>" >
      <%= render "public/likes/like", trip_article: trip_article %>
    </div>
  <% end %>
<% end %>

<%= paginate @trip_articles %>

