<h2 class="text-center m-5 p-5">あなたの素敵な旅の思い出を共有しましょう</h2>
<div class= "text-center m-5">
  <div class="text-center p-5 text-danger">
  <%= flash[:notice] %>
</div>
  <%= render "public/searches/searches" %>
</div>
<div class="text-center mx-auto">
  <%= link_to '新規投稿', new_trip_article_path, class: "text-center btn btn-secondary " %>
</div>


  <% @trip_articles.each do |trip_article| %>
    <div class="trip-article-card row justify-content-center pt-4">
      <div class="card d-block col-12 col-sm-6">
        <div class="card-header d-flex align-items-center">
            <div class= "rounded-circle h-100">
              <%= image_tag trip_article.user.get_image(40,40), class: "rounded-circle" %>
            </div>
            <p class="m00 pl-2"><%= trip_article.user.nickname %></p>
        </div>
          <div class= "card-body">
            <div class="row justify-content-center p-3">
                <%= image_tag trip_article.get_image(400,500) %>
            </div>
            <div class="row justify-content-center p-2">
                <% if current_user != trip_article.user %>
                  <div id="like_buttons_<%= trip_article.id %>" >
                    <%= render "public/likes/like", trip_article: trip_article %>
                  </div>
                <% end %>
              コメント<%= link_to trip_article.comments.count, trip_article_path(trip_article) %>件
            </div>
            <div class="row justify-content-center p-2">
              <div class="card-title">
                <%= trip_article.title %>
              </div>
            </div>
            <div class="row justify-content-center pb-2">
              <%= trip_article.text %>
            </div>
            <div class="row justify-content-center p-4">
              <i class="fas fa-map-marker-alt"></i><%= trip_article.prefecture.name %>
              <i class="fas fa-tag"></i><%= trip_article.season.name %>
            </div>
            <div class="row justify-content-center">
              <%= trip_article.created_at.strftime('%Y/%m/%d') %>
            </div>
            <div class="row justify-content-center p-5">
                <%= link_to '詳細', trip_article_path(trip_article), class: "btn btn-outline-secondary " %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>



<div class= " row justify-content-center py-5">
  <%= paginate @trip_articles %>
</div>

