<div>
  <%= flash[:notice] %>
</div>
<div class= "conrainer-md">
  <div class="row justify-content-center pt-4">
    <h2>新規投稿</h2>
    </div>
    <%= form_with model: @trip_article, method: :post do |f| %>

  <div class="row justify-content-center pt-4 text-right">
    <div class= "field">
      <dl class= "row">
        <dt class= "col-4">
          <%= label :image , "画像"%>
        </dt>
        <dd class="col-4">
          <%= f.file_field :image, accept: "image/*" %>
        </dd>
    </div>
  </div>
  <div class="row justify-content-center pt-4">
    <div class= "field mr-5">
      <dl class= "row">
        <dt class= "col-4">
        <%= f.label :title, "タイトル" %>
        </dt>
        <dd class="col-4">
          <%= f.text_field :title %>
        </dd>
      </dl>
    </div>
  </div>
  <div class="row justify-content-center pt-4">
    <div class= "field mr-5">
      <dl class= "row">
        <dt class= "col-4">
          <%= f.label :text, "本文" %>
        </dt>
        <dd class="col-4">
          <%= f.text_area :text %>
        </dd>
      </dl>
    </div>
  </div>
  <div class="row justify-content-center pt-4">
    <div class= "field mr-4">
      <%= f.label :prefecture_id, "都道府県" %>
      <%= f.select :prefecture_id, Prefecture.pluck(:name,:id), { include_blank: true, selected: 1 }, { id: "prefecture_id", class: "prefecture_class" } %>
    </div>
     <div class= "field pr-3">
      <%= f.label :season_id, "季節" %>
      <%= f.select :season_id, Season.pluck(:name, :id), { include_blank: true, selected: 1 }, { id: "season_id", class: "season_class" } %>
    </div>
  </div>
  <div class="actions text-center p-3">
    <%= f.submit '投稿', class: "btn btn-outline-secondary"  %>
  </div>
  <% end %>
</div>