<h2 class= "text-center m-5 p-5">My page</h2>
<div class="container px-5 px-sm-0">
  <h4 class= "p-4 ">ユーザー情報</h4>
  <%= image_tag current_user.get_image(30,30) %>
  <table class= "table-table-bordered">
  <tbody>
    <tr></tr>
      <tr>
        <th class= "pr-3">nickname</th>
        <th><%= current_user.nickname %></th>
      </tr>
      <tr>
        <th>comment</th>
        <th><%= current_user.introduction %></th>
      </tr>
  </div>
    <%= flash[:notice] %>
  </div>
  <tr>
    <td class= "pt-4"><%= link_to '編集', edit_user_path(@user) %></td>
    <td class= "pt-4"><%= link_to 'bookmark', likes_path %></td>
    </tr>
  </tbody>
  </table>
</div>

  <% @trip_articles.each do |trip_article| %>
    <div class="trip-article-card row justify-content-center pt-4 ">
      <div class="card d-block col-12 col-sm-6">
          <div class="card-header d-flex align-items-center">
            <div class= "rounded-circle h-100">
              <%= image_tag trip_article.user.get_image(60,60), class: "rounded-circle" %>
            </div>
            <p class="m00 pl-2"><%= trip_article.user.nickname %>
          </div>
          <div class= "card-body">
            <div class="row justify-content-center p-3">
              <%= image_tag trip_article.get_image(400,500) %>
            </div>
              コメント<%= link_to trip_article.comments.count, trip_article_path(trip_article) %>件
              <%= link_to 'show', trip_article_path(trip_article) %>
          </div>
          <div class="row justify-content-center p-2">
            <div class="card-title">
              <%= trip_article.title %>
            </div>
          </div>
          <div class="row justify-content-center pb-2">
            <%= trip_article.text %>
          </div>
          <div class="row justify-content-center">
            <%= trip_article.created_at.strftime('%Y/%m/%d') %>
            <div class= "text-right pl-5 mr-5">
              <%= link_to 'edit', edit_trip_article_path(trip_article) %>
              <%= link_to 'delete', trip_article_path(trip_article.id), method: :delete,"data-confirm" =>  "投稿を削除しますか？" %>
            </div>
          </div>
  </div>
  </div>
  <% end %>
</div>