<h2>My page</h2>
<h1>ユーザー情報</h1>
<%= image_tag @user.get_image(30,30) %>
<table>
  <tbody>
    <tr></tr>
    <tr>
      <th>nickname</th>
      <th><%= @user.nickname %></th>
    </tr>
    <tr>
      <th>comment</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>
<%= link_to '編集', edit_user_path(@user) %>
<p><%= link_to 'bookmark', trip_article_likes_path(@trip_articles) %></p>

<% @trip_articles.each do |trip_article| %>
  <p><%= image_tag trip_article.user.get_image(50,50) %>
  <%= trip_article.user.nickname %></p>
  <p><%= image_tag trip_article.get_image(400,500) %></p>
  <p>コメント<%= link_to trip_article.comments.count, trip_article_path(trip_article) %>件</p>
  <p><%= link_to 'show', trip_article_path(trip_article) %></p>
  <p><%= trip_article.title %></p>
  <p><%= trip_article.text %></p>
  <p><%= trip_article.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= link_to 'edit', edit_trip_article_path(trip_article) %></p>
<% end %>

