<!DOCTYPE html>
<html>
  <head>
    <title>Tabimaru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      
      <nav class="globalMenuSp">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Top', root_path %></li>
            <li><%= link_to 'My page', users_mypage_path(current_user.id) %></li>
            <li><%= link_to 'users', users_path %></li>
            <li><%= link_to 'bookmark',  likes_path(id: current_user.id) %></li>
            <li><%= link_to 'index', trip_articles_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to 'Top', admin_path %></li>
            <li><%= link_to 'User index', admin_users_path %></li>
            <li><%= link_to 'Post', admin_comments_path %></li>
          <% else %>
            <li><%= link_to 'Top', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <%= yield %>
  </body>
</html>
